.become-partner-section-hero .button, .become-partner-section-hero input[type="submit"] {
  padding: 15px 20px;
  font-size: 1em;
  margin-left: 0;
}

.become-partner-section-hero {
  padding: 100px 0;
  /* background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.75); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  /* color: #ffffff; */
}

.become-partner-section-hero__wrapper {
  width: 50%;
}

.become-partner-section-hero p {
  margin-bottom: 1em;
  font-size: 1.1em;
}

.become-partner-section-about {
  padding: 100px 20%;
  text-align: center;
  background-color: #efefef;
}

.become-partner-section-about p {
  font-size: 1.1em;
}

.become-partner-section-what {
  padding: 100px 0 25px 0;
  text-align: center;
}

.become-partner-section-what__items {
  padding: 0 10%;
}

.become-partner-section-what__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 75px 0;
}

.become-partner-section-what__item--left {
  flex: 2;
}

.become-partner-section-what__item--left>img {
  max-width: 125px;
  filter: opacity(90%);
}

.become-partner-section-what__item--right {
  flex: 3;
  text-align: left;
}

.become-partner-section-locations {
  padding: 100px 0;
  background-color: #efefef;
}

.become-partner-section-locations .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.become-partner-section-locations__heading, .become-partner-section-locations__imgs {
  flex: 1;
}

.become-partner-section-locations__heading {
  text-align: right;
  padding: 0 25px;
}

.become-partner-section-locations__imgs {
  padding: 0 15px;
  border-left: 1px solid #dddddd;
}

.become-partner-section-locations__img {
  display: inline-block;
  text-align: center;
}

.become-partner-section-locations__img img {
  width: 90px;
  margin: 15px;
}

.become-partner-section-contact {
  padding: 100px 20%;
}

.become-partner-section-contact__radio {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.become-partner-section-contact__radio li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 20px;
}

.become-partner-section-contact input[type="radio"] {
  margin-bottom: 10px;
  margin-top: 10px;
}

.become-partner-section-contact__radio label {
  padding-left: 10px;
}

@media (min-width: 1400px) {
  .become-partner-section-contact {
    padding: 100px 30%;
  }
}

@media (max-width: 979px) {
  .become-partner-section-contact {
    padding: 100px 15%;
  }
}

@media (max-width: 767px) {
  .become-partner-section-hero {
    padding: 75px 0;
    background-position: center;
  }
  
  .become-partner-section-hero__wrapper {
    width: 60%;
  }

  .become-partner-section-what__items {
    padding: 0 5%;
  }

  .become-partner-section-contact {
    padding: 100px 10%;
  }
}

@media (max-width: 480px) {
  .become-partner-section-hero {
    padding: 75px 5%;
    background-position: right;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: overlay;
    color: #ffffff;
  }

  .become-partner-section-hero p {
    color: #dddddd;
  }
  
  .become-partner-section-hero__wrapper {
    width: 100%;
  }

  .become-partner-section-about {
    padding: 100px 5%;
  }

  .become-partner-section-contact {
    padding: 100px 5%;
  }

  .become-partner-section-what__item {
    margin: 50px 0;
  }

  .become-partner-section-what__item--left, .become-partner-section-what__item--right {
    flex: 100%;
  }

  .become-partner-section-what__item--left {
    order: 1;
  }

  .become-partner-section-what__item--right {
    order: 2;
  }
}

@media (max-width: 380px) {
  .become-partner-section-hero {
    padding: 75px 0;
    background-position: 85% center;
  }
}