.footer-info {
  padding: 50px 0;
  background-blend-mode: soft-light;
  background-color: #efefef;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-info>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-info__col1 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  padding: 0 20px;
  min-width: 300px;
}

.footer-info__col2 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 20px;
}

.footer-info__col3 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 20px;
}

.footer-ul {
  list-style-type: none;
  margin: 0;
}

.footer-ul>li {
  margin-bottom: 10px;
}

.footer-social {
  list-style-type: none;
  margin: 0;
  margin-top: 30px;
}

.footer-social>li {
  display: inline;
  margin: 10px;
}

.footer-social>li>a:hover,
.footer-social>li>a:focus {
  border-bottom-width: 0;
}

.footer-copyright {
  padding: 20px 0;
  background-color: #1E1E1E;
  color: #888888;
  text-align: center;
}
